{% extends 'layouts/base.html' %}

{% block content %}

<body class="theme--dark">
    <div id="middle" class="page-entry-create page-entry-edit-comment">
        <div class="kbin-container">
            <main id="main" class="view-compact">
                <div id="content" class="section">
                    <div class="container">
                        <form name="entry_link" method="post" class="entry-edit"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>
                                {{ form.body.label_tag }}
                                {{ form.body }}
                            </div>
                            <div></div>

                            <div class="row actions">
                                <ul>
                                    <li>
                                        <div>
                                            <button type="submit"
                                                id="entry_link_submit"
                                                name="entry_link[submit]"
                                                class="btn btn__primary">
                                                Edit comment
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

{% endblock %}