
{% extends 'layouts/base.html' %}

{% block content %}
<body class="theme--dark">
    <main>

        <div id="content">
            <article class="entry section subject no-image">
                <header>
                    <h2>
                        <!-- Title Name -->
                        <a href="{% url 'thread_detail' pk=thread.pk%}">
                            {{ thread.title }}
                        </a>
        
                        <!-- URL, if it have -->
                        {% if thread.is_link %}
                        <span class="entry__domain">
                            <!-- Do not remove this, it is a part of the format -->
                            (
                            <a href="{{ thread.url }}"
                                rel="nofollow noopener noreferrer">
                                {{ thread.url }}
                            </a>
                            <!-- Do not remove this, it is a part of the format -->
                            )
                        </span>
                        {% endif %}
                    </h2>
                </header>
                
                <div class="content short-desc">
                    <p>{{ thread.body }}</p>
                </div>

                <aside class="meta entry__meta">
                    <!-- Author Name  -->
                    <a href="{% url  'profile_detail' user_id=thread.author.id %}"
                        class="user-inline">
                        {{ thread.author }}
                    </a>
        
                    <!-- Do not remove this, it is a part of the format -->
                    ,
        
                    <!-- Created Time -->
                    <time class="timeago"
                        title="{{ thread.created_at }}">
                        {{ thread.time_since_creation }} ago
                    </time>
        
                    {% if thread.time_since_update < thread.time_since_creation %}
                    <span class="edited">
                        <!-- Do not remove this, it is a part of the format -->
                        (edited
                        <!-- Edited Time-->
                        <time class="timeago"
                            title="{{ thread.updated_at }}">
                            {{ thread.time_since_update }} ago
                        </time>
                        <!-- Do not remove this, it is a part of the format -->
                        )
                    </span>
                    {% endif %}
        
                    <!-- Do not remove this, it is a part of the format -->
                    to
        
                    <!-- Magazine -->
                    <a
                        href="{% url 'magazine_threads_list' magazine_id=thread.magazine.id %}"
                        class="magazine-inline">
                        {{thread.magazine}}
                    </a>
                </aside>
        
                <aside class="vote">
                    <form action="{% url 'thread_vote' pk=thread.pk %}"
                        method="post" class="vote__up">
                        {% csrf_token %}
                        <input type="hidden" name="thread_id"
                            value="{{ thread.id }}">
                        <input type="hidden" name="vote_type"
                            value="like">
                        <button type="submit" name="like_button"
                            title="Favorite" aria-label="Favorite">
                            <span>
                                {{ thread.num_likes }}
                            </span>
                            <span>&#128077;</span>
                            <!-- Unicode thumb-up -->
                        </button>
                    </form>
        
                    <form action="{% url 'thread_vote' pk=thread.pk %}"
                        method="post" class="vote__down">
                        {% csrf_token %}
                        <input type="hidden" name="thread_id"
                            value="{{ thread.id }}">
                        <input type="hidden" name="vote_type"
                            value="dislike">
                        <button type="submit" name="dislike_button"
                            title="Reduce" aria-label="Reduce">
                            <span>
                                {{ thread.num_dislikes }}
                            </span>
                            <span>&#128078;</span>
                            <!-- Unicode thumb-down -->
                        </button>
                    </form>
                </aside>
        
                <footer>
                    <menu>
                        <!-- Number of Comments -->
                        <li>
                            <a class="stretched-link"
                                href="#look-comments">
                                <span>
                                    {{ thread.num_comments   }}
                                </span>
                                <!-- Do not remove this, it is a part of the format -->
                                comments
                            </a>
                        </li>
        
                        <!-- Boost Button -->
                        <li>
                            <form
                                action="{% url 'thread_boost' pk=thread.pk %}"
                                method="post">
                                <input type="hidden" name="thread_id"
                                    value="{{ thread.id }}">
                                {% csrf_token %}
                                <button
                                    class="boost-link stretched-link"
                                    type="submit">
                                    <!-- Do not remove this, it is a part of the format -->
                                    boost
                                    <!-- Number of boost -->
                                    {% if thread.num_points > 0 %}
                                    <span>
                                        <!-- Do not remove this, it is a part of the format -->
                                        ({{ thread.num_points }})
                                    </span>
                                    {% endif %}
                                </button>
                            </form>
                        </li>
        
                        <!-- Only if it is a self created link-->
                        <li>
                            <!-- Edit Button -->
                            {% if thread.author == request.user %}
                                <a
                                    href="{% url 'thread_link_edit' pk=thread.pk %}">
                                    Editar Thread o Link
                                </a>
                            {% endif %}
                        </li>
        
                        <li>
                            <!-- Delete Button -->
                            {% if thread.author == request.user %}
                                <form
                                    action="{% url 'thread_link_delete' pk=thread.pk %}"
                                    method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete">
                                </form>
                            {% endif %}
                        </li>
                    </menu>
                </footer>
            </article>
        </div>

        <div id="comment-add" class="section">
            <form action = "{% url 'create_comment' thread_id=thread.id %}" name="entry_comment" method="post" class="entry-create">
                {% csrf_token %}

                <label for="comment_body">Comment:</label>
                <textarea id="comment_body" name="body"></textarea>
                <div class="row actions">
                    <ul>
                        <li>
                            <button type="submit" id="entry_comment_submit" name="entry_comment[submit]" class="btn btn__primary">Add comment</button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div id="content">
            {% if comments %}
            <section id="comments" class="comments entry-comments comments-tree" data-controller="" data-action="">
            <aside class="options options--top" id="options">
            <menu class="options__main no-scroll">
                <li>
                    <a
                        href="?order_by=points"
                        {% if 'points' in active_order %}
                        class="active"
                        {% endif %}>
                        top
                    </a>
                </li>

                <li>
                    <a
                        href="?order_by=newest"
                        {% if 'newest' in active_order %}
                        class="active"
                        {% endif %}>
                        newest
                    </a>
                </li>

                <li>
                    <a
                        href="?order_by=oldest"
                        {% if 'oldest' in active_order %}
                        class="active"
                        {% endif %}>
                        oldest
                    </a>
                </li>
            </menu>
            </aside>
            {% for comment in comments %}
        <blockquote class="section comment entry-comment subject comment-level--1" id="entry-comment-{{ comment.id }}" data-controller="comment subject mentions" data-subject-parent-value="" data-action="">
            <header>
                <a href="/profile/{{ comment.author.id }}/" data-action="mouseover->mentions#user_popup mouseout->mentions#user_popup_out" data-mentions-username-param="{{ comment.author }}" class="user-inline" title="{{ comment.author }}">
                    {{ comment.author }}</a>,
                <time class="timeago" title="{{ comment.created_at }}" >
                    {{ comment.time_since_creation }} ago
                </time>

                {% if comment.time_since_update < comment.time_since_creation %}
                    <span class="edited">
                        (edited
                        <time class="timeago" title="{{ comment.updated_at }}">
                            {{ comment.time_since_update }} ago)
                        </time>
                        
                    </span>
                {% endif %}
            </header>

                <figure>
                    <a data-action="mouseover->mentions#user_popup mouseout->mentions#user_popup_out" data-mentions-username-param="{{ comment.author }}" href="/u/{{ comment.author }}">
                        <div class="no-avatar"></div>
                    </a>
                </figure>

            <div class="content">
                <p>{{ comment.body }}</p>
            </div>

                <aside class="vote">

                    <form method="post" action="{% url 'comment_vote' pk=comment.pk %}" class="vote__up">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id"
                        value="{{ comment.id }}">
                        <input type="hidden" name="vote_type"
                        value="like">
                        <button type="submit" name="like_button"
                        title="Favorite" aria-label="Favorite">
                            <span >
                                {{ comment.num_likes}}
                            </span>
                            <span>&#128077;</span>
                            <!-- Unicode thumb-up -->
                        </button>
                        <!--<input type="hidden" name="token" value="{{ comment.token }}">-->
                    </form>

                    <form method="post" action="{% url 'comment_vote' pk=comment.pk %}" class="vote__down">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id"
                        value="{{ comment.id }}">
                        <input type="hidden" name="vote_type"
                        value="dislike">
                        <button type="submit" name="dislike_button"
                        title="Reduce" aria-label="Reduce">
                            <span >
                                {{ comment.num_dislikes}}
                            </span>
                            <span>&#128078;</span>
                            <!-- Unicode thumb-down -->
                        </button>
                        <!--<input type="hidden" name="token" value="{{ comment.token }}">-->
                    </form>

                </aside>

                <footer>
                    <menu>
                        <li>
                            <a href="{% url 'reply_comment' thread_id=comment.thread_id pk=comment.pk %}" class="edit-comment-link">
                                reply
                            </a>
                        </li>

                        <li>
                        <!-- Edit Button -->
                    {% if comment.author == request.user %}
                        <a href="{% url 'comment_edit' thread_id=comment.thread_id pk=comment.pk %}" class="edit-comment-link">Edit</a>
                    {% endif %}
                        </li>

                        <li>
                            <!-- Delete Button -->
                        {% if comment.author == request.user %}
                            <form action="{% url 'comment_delete' pk=comment.pk thread_id=comment.thread_id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Delete">
                            </form>
                        {% endif %}
                        </li>
                    </menu>

                    
                            
                </footer>

                </blockquote>

                {% if comment.comment_replies.exists %}
                {% for reply in comment.comment_replies.all %}
                    {% include 'threads/comment_block.html' with comment=reply level=reply.reply_level|add:"1" parent_reply=reply.parent_reply_id profileView=false%}
                {% endfor %}
            {% endif %}
            

                {% endfor %}
            {% else %}
            <div class="overview subjects comments-tree comments show-post-avatar">
            <aside class="section section--muted">
                <p>No comments</p>
            </aside>
            </div>
            </section>
            {% endif %}
        </div>

    </main>
</body>
{% endblock %}

